--- 
http_interactions: 
- request: 
    method: get
    uri: https://elasticmapreduce.amazonaws.com/?AWSAccessKeyId=abra&JobFlowIds.member.1=j-1B4D1XP0C0A35&JobFlowIds.member.2=j-2&Operation=SetTerminationProtection&TerminationProtected=true
    body: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Amzn-Requestid: 
      - dc0ce847-6923-11e0-9da4-8d278034dea6
      Content-Type: 
      - text/xml
    body: |
      <ErrorResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <Error>
          <Type>Sender</Type>
          <Code>ValidationError</Code>
          <Message>Specified job flow ID not valid</Message>
        </Error>
        <RequestId>dc0ce847-6923-11e0-9da4-8d278034dea6</RequestId>
      </ErrorResponse>

  recorded_at: Fri, 03 Feb 2012 13:53:36 GMT
recorded_with: VCR 2.0.0.rc1
