--- 
http_interactions: 
- request: 
    method: get
    uri: https://elasticmapreduce.amazonaws.com/?AWSAccessKeyId=abracadabra&InstanceGroups.member.1.BidPrice=0&InstanceGroups.member.1.InstanceCount=1&InstanceGroups.member.1.InstanceRole=TASK&InstanceGroups.member.1.InstanceType=m1.small&InstanceGroups.member.1.Market=ON_DEMAND&InstanceGroups.member.1.Name=Go%20Canucks%20Go!&JobFlowId=j-19WDDS68ZUENP&Operation=AddInstanceGroups
    body: ""
    headers: 
  response: 
    status: 
      code: 400
      message: Bad Request
    headers: 
      X-Amzn-Requestid: 
      - 0c8d744d-67ea-11e0-bf8a-ed57a5465c87
      Content-Type: 
      - text/xml
    body: |
      <ErrorResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <Error>
          <Type>Sender</Type>
          <Code>ValidationError</Code>
          <Message>Task instance group already exists in the job flow, cannot add more task groups</Message>
        </Error>
        <RequestId>0c8d744d-67ea-11e0-bf8a-ed57a5465c87</RequestId>
      </ErrorResponse>

  recorded_at: Fri, 03 Feb 2012 13:53:36 GMT
recorded_with: VCR 2.0.0.rc1
