--- 
http_interactions: 
- request: 
    method: get
    uri: https://elasticmapreduce.amazonaws.com/?AWSAccessKeyId=aa&InstanceGroups.member.1.InstanceCount=1&InstanceGroups.member.1.InstanceRole=TASK&InstanceGroups.member.1.InstanceType=m1.small&InstanceGroups.member.1.Market=ON_DEMAND&InstanceGroups.member.1.Name=Go%20Canucks%20Go!&JobFlowId=j-OALI7TZTQMHX&Operation=AddInstanceGroups
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Amzn-Requestid: 
      - ddd0d158-67eb-11e0-ba06-2b5c43005be2
      Content-Type: 
      - text/xml
    body: |
      <AddInstanceGroupsResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <AddInstanceGroupsResult>
          <JobFlowId>j-OALI7TZTQMHX</JobFlowId>
          <InstanceGroupIds>
            <member>ig-2GOVEN6HVJZID</member>
          </InstanceGroupIds>
        </AddInstanceGroupsResult>
        <ResponseMetadata>
          <RequestId>ddd0d158-67eb-11e0-ba06-2b5c43005be2</RequestId>
        </ResponseMetadata>
      </AddInstanceGroupsResponse>

  recorded_at: Fri, 03 Feb 2012 13:53:36 GMT
recorded_with: VCR 2.0.0.rc1
