--- 
http_interactions: 
- request: 
    method: get
    uri: https://elasticmapreduce.amazonaws.com/?AWSAccessKeyId=abra&BootstrapActions.member.1.Name=Elasticity%20Bootstrap%20Action%20(Configure%20Hadoop)&BootstrapActions.member.1.ScriptBootstrapAction.Args.member.1=-s&BootstrapActions.member.1.ScriptBootstrapAction.Args.member.2=mapred.child.java.opts=-Xmx4G&BootstrapActions.member.1.ScriptBootstrapAction.Path=s3n://elasticmapreduce/bootstrap-actions/configure-hadoop&Instances.Ec2KeyName=sharethrough_dev&Instances.HadoopVersion=0.20&Instances.InstanceCount=2&Instances.MasterInstanceType=m1.small&Instances.SlaveInstanceType=m1.small&Name=Elasticity%20Custom%20Jar%20Job&Operation=RunJobFlow&Steps.member.1.ActionOnFailure=TERMINATE_JOB_FLOW&Steps.member.1.HadoopJarStep.Args.member.1=s3n://elasticmapreduce/samples/cloudburst/input/s_suis.br&Steps.member.1.HadoopJarStep.Args.member.2=s3n://elasticmapreduce/samples/cloudburst/input/100k.br&Steps.member.1.HadoopJarStep.Args.member.3=s3n://slif_hadoop_test/cloudburst/output/2011-12-09&Steps.member.1.HadoopJarStep.Jar=s3n://elasticmapreduce/samples/cloudburst/cloudburst.jar&Steps.member.1.Name=Execute%20Custom%20Jar
    body: ""
    headers: 
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      X-Amzn-Requestid: 
      - ca9e82df-22b9-11e1-beee-7d8a92482267
      Content-Type: 
      - text/xml
    body: |
      <RunJobFlowResponse xmlns="http://elasticmapreduce.amazonaws.com/doc/2009-03-31">
        <RunJobFlowResult>
          <JobFlowId>j-1IU6NM8OUPS8I</JobFlowId>
        </RunJobFlowResult>
        <ResponseMetadata>
          <RequestId>ca9e82df-22b9-11e1-beee-7d8a92482267</RequestId>
        </ResponseMetadata>
      </RunJobFlowResponse>

  recorded_at: Fri, 03 Feb 2012 13:53:36 GMT
recorded_with: VCR 2.0.0.rc1
